<!DOCTYPE html>
<html>
  <head>
    <title>Exercise 4 - Internet Programming Course Matan Tenenboim</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  HTML
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
