<!DOCTYPE html>
<html>
<head>
    <title>Exercise 3 - Internet Programming Course Matan Tenenboim</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<script>
    // const validateForm = function () {
    //     console.log("in validate form func")
    //
    //     const onlyChars = function (word) {
    //         return /^[a-zA-Z]+$/.test(word);
    //     }
    //
    //     const form = document.getElementById('inputForm');
    //     const fName = document.getElementById('fName');
    //     const lName = document.getElementById('lName');
    //     const v1 = onlyChars(fName.value.trim())
    //     const v2 = onlyChars(lName.value.trim())
    //     return form.checkValidity() && v1 && v2;
    // }

</script>

<script src="/javascripts/validations.js"></script>

<div class="container">
    <div class="card">
        <h2 class="card-header bg-success bg-opacity-25">
            Registration
        </h2>


        <div class="card-body">
            <h5 class="card-title">Please register or <a href="/login"> log in</a></h5><br>

            <form class="row g-3 needs-validation" id="inputForm" action="/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="name@example.com" required>
                </div>
                <div class="text-danger errormessage d-none" id="emailInvalid">
                    Email is already in use, try another!
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" value="" name="firstName" required>
                </div>
                <div class="text-danger errormessage d-none" id="firstNameInvalid">
                    Invalid first name was inserted!
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" value="" name="lastName" required>
                </div>
                <div class="text-danger errormessage d-none" id="lastNameInvalid">
                    Invalid last name was inserted!
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
